
/*------VARIABLES------*/
:root {

    
    --app-height: 90vh;
    --part-height: 100px;
    
    --bar-color: #eaeaea;
    --icon-color: #b1b1b1;
    --notify-color: #8edafc;
    --white: white;
    --contact-active: #e9ebeb;
    --message-color: #d5f9ba;

}

/*------COMMON PARTS------*/
html {

    font-family: 'Montserrat', sans-serif;

}

body {

    background-color: var(--icon-color);

}

img {

    height: 100%;
    border-radius: 50%;

}

/*------SPECIFIED PARTS BY ID------*/
#app {

    width: 90%;
    height: var(--app-height);

}

/*-----------------------------------------------------------------SX COLUMN*/
#sx-column {

    
    min-height: 100%;
    border-right: 1px solid var(--icon-color);
}

/*------------------------------USER*/
#user {

    height: var(--part-height);
    width: 100%;
    background-color: var(--bar-color);

}

#user .avatar {

    
    height: 100%;

}

#user .avatar img {

    
    margin-right: 1em;
    

}

#user .avatar .name {

    font-size: 2rem;
    font-weight: bold;

}

#user .controls {

    
    height: 100%;

}

#user .controls * {

    margin-left: 1em;
    font-size: 3rem;
    color: grey;

}



/*------------------------------NOTIFY*/
#notify {

    height: var(--part-height);
    width: 100%;
    background-color: var(--notify-color);

}

#notify .bell {

    color: var(--notify-color);
    background-color: var(--white);
    font-size: 4rem;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    margin-right: 1rem;


}

#notify p {

    font-size: 2rem;
    font-weight: bold;

}

#notify a {

    color: inherit;
    font-size: 1.5rem;
    font-weight: bold;

}

/*------------------------------SEARCH*/
#search {

    height: calc(var(--part-height) / 2);
    width: 100%;
    background-color: var(--white);
    
}

#search .contain {

    border: 1px solid var(--icon-color);
    padding: 0.5rem;
    width: 100%;
}

#search .lens {

    font-size: 2rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

#search input {

    width:100%;
    border: none;
    font-size: 2rem;
}

/*------------------------------CONTACTS*/
#contacts {

    height: calc(var(--app-height) - var(--part-height) * 2 - var(--part-height) / 2);
    width: 100%;
    
    overflow: auto;
    background-color: var(--white);

}

#contacts .contact {

    height: var(--part-height);
    padding: 1rem;

}

#contacts .contact:hover {

    background-color: var(--contact-active);

}

#contacts .contact-left,
#contacts .contact-right {

    height: 100%;

}

#contacts .contact-left img {

    margin-right: 1rem;

}

#contacts .contact-left h3 {

    font-size: 2rem;
    font-weight: bold;


}

#contacts .contact-left p,
#contacts .contact-right p {

    font-size: 1.5rem;

}

/*---------------------------------------------------------------DX COLUMN*/
#dx-column {

    
    min-height: 100%;
    
}

/*------------------------------CONTACT*/
#receiver {

    height: var(--part-height);
    width: 100%;
    background-color: var(--bar-color);
    padding: 1rem;

}

#receiver .left img {

    margin-right: 1em;

}

#receiver .left h3 {

    font-size: 2rem;
    font-weight: bold;

}

#receiver .left p {

    font-size: 1.5rem;

}

#receiver .right * {

    margin-left: 1em;
    font-size: 3rem;
    color: grey;

}

#receiver .left,
#receiver .right {

    height: 100%;

}

/*------------------------------CHAT*/
#chat {

    height: calc(var(--app-height) - var(--part-height) * 2);
    width: 100%;
    background-image: url(../img/mine.jpg);
    overflow:auto;

}

.message-sent,
.message-received {

    display: inline-block;
    padding: 1rem;
    border-radius: 10px;
    max-width: 50%;
    font-size: 2rem;
    font-weight: bold;

}

.message-sent {

    background-color: var(--message-color);

}

.message-received {

    background-color: var(--white);

}

/*------------------------------MESSAGE*/
#message {

    height: var(--part-height);
    width: 100%;
    background-color: var(--bar-color);

}

